mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic,alt="画像が読み込まれませんでした")
        .textareaContainer
            textarea#postTextarea(placeholder="what's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post
